<!DOCTYPE html>
<html>
<head>
	<title>Logged In User Status</title>
</head>
<body>
	<h1>Welcome Anshuman</h1>
	<form method="POST" action="/status">
		<button type="submit" onclick="redirectToStudent()">Check status</button>
	</form>
    
</body>
</html>
